<!doctype html>
<html>
<body>
<center><h3>Mudrex Report</h3></center>
   <h4>Number of markets : {{ number_of_market }} (Only for one minute data)</h4>
    <h4>Number of data points expected : {{ expected_data_points }} (in next 24 hours) </h4>
    <h4>Total data points available : {{ total_data_points_available }}(Only for one minute data)</h4>

    <h4>Data points available for each market (Only for one minute data) </h4>
    <table style="width:40%">
    <tr>
        <th>Market</th>
        <th>Data Point Count</th>
    </tr>
        {% for market in total_data_points_for_each_market %}
        <tr>
            <td style="text-align:center">
                {{market[0]}}
            </td>
            <td style="text-align:center">
                {{market[1]}}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>