<!doctype html>
<html>
    <head>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <center>
            <h1>Mudrex Trading Graph</h1>
        </center>
        <div>
            Select Coin Pair
            <select id="coin-pair-list">
            </select>

            Select Interval
            <select id="coin-pair-interval">
                <option value="1m" selected>1 m </option>
                <option value="5m">5 m</option>
                <option value="15m">15m</option>
                <option value="30m">30m</option>
                <option value="60m">1h</option>
            </select>
        </div>


        <div id="container" style="height: 400px; min-width: 600px">
        </div>
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script type="text/javascript" src="https://www.highcharts.com/samples/data/ohlc.js"></script>
        <script>
            coin_pair = {{coin_pair | safe}}

            function populate_coin_pair(){
                $("#coin-pair-list").empty();
                $.each( coin_pair, function( key, value ) {
                    option =  "<option value="+value+">"+value+"</option>"
                    $("#coin-pair-list").append(option)
                });

                $("#coin-pair-list").val("BTC/USDT").change();
            }
            populate_coin_pair()
            function loadCandleChart(data)
                {
                        Highcharts.stockChart('container', {
                            rangeSelector: {
                                selected: 1,
                                enabled: false,
                                inputEnabled:false
                            },
                            title: {
                                text: ''
                            },
                            plotOptions: {
                                candlestick: {
                                    color: '#FE0068 ',
                                    upColor: '#58B100'
                                }
                            },
                            series: [{
                                type: 'candlestick',
                                name: 'Prices',
                                data: data
                            }]
                        });
                    }

            function fetch_data_mudrex(){

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "/klines?symbol=BTC/USDT&interval=1m",
              "method": "GET",
              "headers": {
                "Cache-Control": "no-cache"
              }
            }

            $.ajax(settings).done(function (response) {
                loadCandleChart(response.data)
            });
            }

            fetch_data_mudrex()


            $(document).on('change', '#coin-pair-list', function() {
                var selected_pair = this.value;
                var selected_interval = $("#coin-pair-interval").val();
                change_coin_pair(selected_pair, selected_interval)

            });


            function change_coin_pair(coin_pair, selected_interval){
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "/klines?symbol="+coin_pair+"&interval="+selected_interval+"",
                    "method": "GET",
                    "headers": {
                        "Cache-Control": "no-cache"
                    }
                }
                $.ajax(settings).done(function (response) {
                    console.log(response.data)
                    loadCandleChart(response.data)
                });
            }


            $(document).on('change', '#coin-pair-interval', function() {
                var selected_pair = $("#coin-pair-list").val();
                var selected_interval = this.value;
                change_coin_pair(selected_pair, selected_interval)

            });


            setInterval(function() {
            var selected_pair = $("#coin-pair-list").val();
            var selected_interval = $("#coin-pair-interval").val();
             change_coin_pair(selected_pair, selected_interval)

            }, 60 * 1000);

        </script>
    </body>
</html>